/* Reservado para tipografía */

* { box-sizing: border-box; padding: 0; margin: 0; scroll-behavior: smooth; }

.img-200 {
    width: 200px;
}

ul { list-style: none; }

.d-flex { display: flex; }

.w-50 { width: 50%; }
.w-70 { width: 70%; }


.fondo-oscuro { background-color: orangered; }
.fondo-claro { background-color: rgba(58, 58, 58, 0.837); }
.texto-oscuro { color: #161616; }
.texto-claro { color:rgb(247, 247, 247); }


.back1 {
    background-image: url('/img/fondos/fondoB.avif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back2 {
    background-image: url('/img/fondos/fondoA.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.m-auto { margin: auto; }

.altura {
    height: 100vh;
}


header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.695);
    color: white;
    width: 100%;    
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: orange;
}
.relleno-1 {
    padding: 40px 80px;
}

.b-radius {
    border-radius: 20px;
}

img {
    width: 100%;
}

.icon {
    width: 40px;
}

.pr-1 {
    padding-right: 20px;
}
.pl-1 {
    padding-left: 20px;
}

.justify-center {
    justify-content: center;
}

nav {
    width: 100%;
}

